@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
	font-family: 'Josefin Sans', sans-serif;
}

img {
	pointer-events: none;
}
.iconLogo i {
	font-size: 2em;
	padding: 0px 20px;
}

#dialog {
	height: auto !important;
}

#dialog p {
	text-align: left;
	text-align: initial;
}

span.versionInfo {
	cursor: pointer;
	text-decoration: underline;
}

.inline-block {
	display: inline-block;
}

div.OGPVersionArea {
	width: 100%;
	position: relative;
}

span.copyVersionResult {
	position: absolute;
	left: 90%;
	top: 0;
}

.hide {
	display: none !important;
}

.progress {
	width: 100%;
	background-color: #182124;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 12px;
}

.progress .progress-bar {
	width: 1px;
	height: 15px;
	border-radius: 12px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
	background: #FFCC00;
}

.serverIdToggle {
	text-align: right !important;
	cursor: pointer;
	text-decoration: underline;
}

th.serverId {
	min-width: 60px;
}

table.tablesorter thead tr .header.sorter-false {
	/* No background image for non-sortable TH */
	background-image: none;
	cursor: auto;
}

table.hundred {
	width: 100%;
}

.disabled {
	cursor: not-allowed;
	opacity: .6;
}

.uploadLiteFMStatus {
	margin-top: 1em;
	margin-bottom: 1em;
}

.loader {
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 12px;
	height: 12px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

li.osIcon {
	padding-right: 20px;
}

li.win32 {
	background: url('../images/os/win32.png') no-repeat 97% center;
	background-size: 20px auto;
}

li.linux32 {
	background: url('../images/os/linux32.png') no-repeat 97% center;
	background-size: 20px auto;
}

li.win64 {
	background: url('../images/os/win64.png') no-repeat 97% center;
	background-size: 20px auto;
}

li.linux64 {
	background: url('../images/os/linux64.png') no-repeat 97% center;
	background-size: 20px auto;
}

 #ulogin {
	font-size: 1.4em;
	font-weight: 600;
} 

#upassword {
	font-size: 1.4em;
	font-weight: 600;
} 

.login_button {
	font-size: 1.7em;
	font-weight: 600;
}

.imageINfo {
	display: flex;
	position: relative;
	justify-content: center;
	animation-name: example;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}

.imageINfo :hover {
	
}

.image {
	width: 100px;
}

@keyframes example {
	0% {
		left: 0px;
		transform: rotateZ(0deg);
	}

	25% {
		left: -120px;
		transform: rotateZ(-20deg);
	}

	50% {
		left: 120px;
		transform: rotateZ(20deg);
		
	}

	75% {
		left: -120px;
		transform: rotateZ(-20deg);
	}

	100% {
		left: 120px;
		transform: rotateZ(20deg);
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #182124;
	border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #FFCC00;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #bb9600;
}



table.userListTable td {
    background-color: #182124 !important;
	border-radius: 4px;
}

table.userListTable tr {
    background-color: #182124 !important;
	border-radius: 4px;
}